<div class="container">
  <div class="row">
    <div class="col-2 mt-2">
      <%= render 'public/customers/customer_info', customer: current_customer %>
    </div>
    <div class="col-10 mt-2">
      <h2 class="text-center mb-2"><%= @customer.name %>さんのいいね一覧</h2>
      <div class="d-flex flex-wrap">
        <%= render 'public/posts/index_form', posts: @posts %>
      </div>
    </div>
  </div>
</div>