<div class="container-fluid">
  <div class="row">
    <div class="col-2 offset-1 mt-5">
      <%= render 'public/customers/customer_info', customer: current_customer %>
    </div>
    <div class="col-9">
      <div class="mt-5">
        <h2 class="text-center">顧客一覧</h1>
          <div class="d-flex flex-wrap">
            <% @customers.each do |customer| %>
              <div class="m-4">
                <div><%= link_to customer.name, customer_path(customer) %></div>
                <div><%= customer.posts.count %>件</div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>