<h2>結果</h2>
<% if @range == "Customer" %>
  <% @customers.each do |customer| %>
    <%= customer.name %>
  <% end %>
<% else %>
  <% @posts.each do |post| %>
    <%= post.title %>
  <% end %>
<% end %>