<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-2">
      <h2 class="text-center mb-2 fs-2">Results</h1>
    </div>
  </div>
  <%= render 'public/searches/search_form' %>
  <div class="row">
    <div class="col-12 mt-2">
      <div class="d-flex flex-wrap">
        <% if @range == "Customer" %>
          <%= render 'public/customers/index_form', customers: @customers %>
        <% else %>
          <%= render 'public/posts/index_form', posts: @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
