<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="card text-light">
      <%= image_tag 'default.jpg', size:"750x500" %>
      <div class="card-img-overlay">
        <h5 class="card-title">
        <p class="text-center">
         ようこそ、ながのCAKEへ!</br>
         このサイトは、ケーキ販売のECサイトになります。</br>
         会員でない方も商品の閲覧はできますが、</br>
         購入には会員登録が必要になります。
        </p>
        </h5>
      </div>
    </div>
  </div>
</div>