<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <%= render 'public/templete/top_form' %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center fs-2">Pick Up</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="d-flex flex-wrap">
      <%= render 'public/posts/index_form', posts: @post_favorite_ranks %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center fs-2">New Posts</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="d-flex flex-wrap">
      <%= render 'public/posts/index_form', posts: @post_news %>
    </div>
  </div>
</div>