<!--<div class="sliderWrapper">-->
<!--	<div class="slider">-->
<!--    <div><%= image_tag 'default.jpg', size:"750x500" %></div>-->
<!--    <div><%= image_tag 'no_image.jpg', size:"750x500" %></div>-->
<!--	</div>-->
<!--</div>-->

<h2>新着投稿</h2>
  <div class="lists">
    <%= render 'public/posts/index_form', posts: @post_news %>
  </div>

<!--<h2>人気の投稿</h2>-->
<!--  <div class="d-flex justify-content-around">-->
<!--    <%= render 'public/posts/index_form', posts: @post_favorite_ranks %>-->
<!--  </div>-->