<% posts.each do |post| %>
  <div class="col-md-6 col-sd-12 mx-auto m-5 border-bottom border-secondary">
    <div class="row">
      <%= image_tag post.images[0], width: '100%', height: 'auto' %>
    </div>
    <div class="row">
      <div class="mx-auto">
        <a><%= link_to truncate(post.title, omision: "...", length: 18), admin_post_path(post.id), class: "fs-1" %></a>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
      <% post.tags.limit(5).each do |tag| %>
        <a class="text-center">
          <%= link_to truncate(tag.name, omision: "...", length: 10), admin_search_tag_path(tag_id: tag.id), class: 'btn btn-primary btn-sm fs-1' %>
        </a>
      <% end %>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="mx-auto">
        <p class="text-center fs-1"><%= post.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    </div>
  </div>
<% end %>