<div class="container">
  <div class="row mt-2">
    <div class="col-12 mt-2">
      <h2 class="text-center mb-2 fs-2">Tags</h2>
      <%= render 'admin/posts/tag_index', tags: @tags %>
      <h2 class="text-center mb-2 fs-2"><%= @tag.name %>'s Posts</h2>
      <div class="d-flex flex-wrap">
        <%= render 'admin/posts/index_form', posts: @posts %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><%= paginate @posts, theme: 'twitter-bootstrap-4' %></p>
    </div>
  </div>
</div>