@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.favorite_background {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: #ffffff;
  color: #ffb6c1;
  height: 25px;
  font-size: 20px;
  font-family: 'Kaushan', cursive, sans-serif;
  text-align: center;
}

.new-img {
  width: 200px;
  height: 200px;
}

.fs-1 {
  font-size: 20px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.fs-2 {
  font-size: 30px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.fs-3 {
  font-size: 15px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.main_visual-infomation-subtitle {
    background-color: var(--orange);
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.2;
    line-height: 26px;
    margin: auto;
    padding: 0 12px;
    text-align: center;
}

.proxima-semibold {
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 600;
}

.text-box {
  width: 60%;
  text-align: center;
}

.box {
  background-color: #7fffd4;
  padding: 10px;
}

.edit_btn {
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #ff7f50 0%,
    #ff7f50 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.edit_btn:hover {
  background-position: 0 0;
}

.submit_btn {
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #00bfff 0%,
    #00bfff 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.submit_btn:hover {
  background-position: 0 0;
}

.destroy_btn {
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #b22222 0%,
    #b22222 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.destroy_btn:hover {
  background-position: 0 0;
}

.field_with_errors {
  display: contents;
}

.new_background {
  position: absolute;
  bottom: 550px;
  left: 350px;
  margin : 2%;
  background-color: #ffffff;
  color: #000000;
  font-size: 40px;
  font-family: 'Kaushan', cursive, sans-serif;
  text-align: center;
}

.top_background {
  position: absolute;
  bottom: 550px;
  left: 150px;
  margin : 1%;
  background-color: #ffffff;
  color: #000000;
  font-size: 40px;
  font-family: 'Kaushan', cursive, sans-serif;
  text-align: center;
}

@media screen and (max-width:425px) {
  .favorite_background {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    color: #ffb6c1;
    height: 25px;
    font-size: 20px;
    font-family: 'Kaushan', cursive, sans-serif;
    text-align: center;
  }

  .new_background {
    position: absolute;
    bottom: 230px;
    left: 100px;
    margin : 2%;
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
    font-family: 'Kaushan', cursive, sans-serif;
    text-align: center;
  }

  .top_background {
    position: absolute;
    bottom: 210px;
    left: 5px;
    margin : 1%;
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
    font-family: 'Kaushan', cursive, sans-serif;
    text-align: center;
  }
}