@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

// a {
//   text-decoration: none;
//   text-align: center;
//   margin: 5px;
// }

// h2 {
//   text-align: center;
//   font-size: 25px;
// }

// .notice {
//   text-align: center;
// }

// .lists {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   text-align: center;
//   width: 80%;
// }

// .list_content {
//   border-bottom: 1px solid black;
//   padding: 5%;
//   width: 50%;
// }

// .list_content_image {
//   margin: auto;
//   position: relative;
// }
// .list_content_author_image {
//   position: absolute;
//   top: 250px;
//   left: 250px;  
// }
// .favorite_title {
//   position: absolute;
//   top: 250px;
//   left: 270px;
//   background-color: #ffffff;
// }



// .list_content_information {
//   text-align: center;
// }

// .list_tag {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   text-align: center;
// }

// .list_date {
//   margin-top: 10px;
//   font-size: 12px;
//   display: inline-block;
// }

// .blog-box {
//   margin: 5px;
// }

// .blog-item {
//   padding-bottom: 10px;
//   margin-bottom: 10px;
//   display: flex;
//   justify-content: flex-start;
// }

// .blog-image {
//   height: 180px;
// }

// .blog-text {
//   padding: 10px 0 0 20px;
// }

// .blog-text-heading {
//   padding-bottom: 15px;
// }

// .blog-date {
//   margin-top: 10px;
//   font-size: 12px;
//   display: inline-block;
// }

// .category {
//   background-color: #ff69b4;
//   color: #fff;
//   font-size: 11px;
// }

// .text-box {
//   border: 2px solid #696969;
//   font-size: 20px;
//   color: #000000;
// }

.favorite_background {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  color: #ffb6c1;
  height: 25px;
  font-size: 20px;
}

.new-img {
  width: 200px;
  height: 200px;
}
h1 h2 a p {
  font-family: 'Kaushan', cursive, sans-serif;
}

.fs-1 {
  font-size: 20px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.fs-2 {
  font-size: 30px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.main__visual-infomation-subtitle {
    background-color: var(--orange);
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.2;
    line-height: 26px;
    margin: auto;
    padding: 0 12px;
    text-align: center;
}

.proxima-semibold {
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 600;
}

.text-box {
  width: 60%;
  text-align: center;
}

.profile_box {
  padding: 5%;
  background-color: #7fffd4;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.profile_title {
  text-align: center;
  font-size: 30px;
  font-family: 'Kaushan', cursive, sans-serif;
}

.profile_content {
  text-align: center;
}

.edit_btn {
  display: block;
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #ff7f50 0%,
    #ff7f50 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.edit_btn:hover {
  background-position: 0 0;
}

.submit_btn {
  display: block;
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #00bfff 0%,
    #00bfff 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.submit_btn:hover {
  background-position: 0 0;
}

.destroy_btn {
  width: 100px;
  padding: 5px 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #b22222 0%,
    #b22222 50%,
    #000000 50%,
    #000000 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.destroy_btn:hover {
  background-position: 0 0;
}
// .favorite_background {
//   background-color: #ffffff;
//   color: #ffb6c1;
//   font-size: 20px;
// }

// .edit-image {
//   position: relative;
// }
// .edit-img {
//   position: absolute;
//   left: 350px;
//   bottom: 85px;
//   height: 50px;
//   width: 50px;
// }

// .new-image {
//   position: relative;
// }
// .new-img {
//   position: absolute;
//   left: 350px;
//   bottom: 85px;
//   height: 50px;
//   width: 50px;
// }