@import '~bootstrap/scss/bootstrap';

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   color: #6c6b6b;
// }

// a {
//   text-decoration: none;
//   text-align: center;
//   margin: 5px;
// }

// h2 {
//   text-align: center;
//   font-size: 25px;
// }

// .notice {
//   text-align: center;
// }

// .lists {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   text-align: center;
//   width: 80%;
// }

// .list_content {
//   border-bottom: 1px solid black;
//   padding: 5%;
//   width: 50%;
// }

// .list_content_image {
//   margin: auto;
//   position: relative;
// }
// .list_content_author_image {
//   position: absolute;
//   top: 250px;
//   left: 250px;  
// }
// .favorite_title {
//   position: absolute;
//   top: 250px;
//   left: 270px;
//   background-color: #ffffff;
// }



// .list_content_information {
//   text-align: center;
// }

// .list_tag {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   text-align: center;
// }

// .list_date {
//   margin-top: 10px;
//   font-size: 12px;
//   display: inline-block;
// }

// .blog-box {
//   margin: 5px;
// }

// .blog-item {
//   padding-bottom: 10px;
//   margin-bottom: 10px;
//   display: flex;
//   justify-content: flex-start;
// }

// .blog-image {
//   height: 180px;
// }

// .blog-text {
//   padding: 10px 0 0 20px;
// }

// .blog-text-heading {
//   padding-bottom: 15px;
// }

// .blog-date {
//   margin-top: 10px;
//   font-size: 12px;
//   display: inline-block;
// }

// .category {
//   background-color: #ff69b4;
//   color: #fff;
//   font-size: 11px;
// }

// .text-box {
//   border: 2px solid #696969;
//   font-size: 20px;
//   color: #000000;
// }

.favorite_background {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  color: #ffb6c1;
  height: 23px;
  font-size: 20px;
}

// .new-image {
//   display: flex;
//   justify-content: flex-start;
// }

.new-img {
  width: 200px;
  height: 200px;
}

.fs-1 {
  font-size: 20px;
  font-family: 'Kaushan', cursive, sans-serif;
}

// .favorite_background {
//   background-color: #ffffff;
//   color: #ffb6c1;
//   font-size: 20px;
// }

// .edit-image {
//   position: relative;
// }
// .edit-img {
//   position: absolute;
//   left: 350px;
//   bottom: 85px;
//   height: 50px;
//   width: 50px;
// }

// .new-image {
//   position: relative;
// }
// .new-img {
//   position: absolute;
//   left: 350px;
//   bottom: 85px;
//   height: 50px;
//   width: 50px;
// }